.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
label {
    display:block;
    margin-right:10px;
}
.btn-next{
    margin-left: 400px;

}
.btn-previous{

    margin-right: 1050px;

}
.input-button{
    background-color: dodgerblue;
    margin-left: 1055px;
    color: white;
}
.image-del{
    height: 30px;
    width:30px;
}
.drop-site{
    background-color: white;
}
.wrapper {
    display: table;
    margin-right: auto;
    margin-left: auto;

}
.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
h3
{
    margin-left: 15px
}
.fileInput {
    border-bottom: 4px solid lightgray;
    border-right: 4px solid lightgray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
    margin: 15px;
    cursor: pointer
}
.imgPreview {
    text-align: center;
    margin: 5px 15px;
    height: 200px;
    width: 200px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-left: 50%;}
.img-profile{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.img-design{
    width: 100%;
    height: 100%;

}
.imgDesignPreview {
    text-align: center;
    margin: 5px 15px;
    height: 200px;
    width: 32%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-left: 50%;}

.previewText {
    width: 100%;
    margin-top: 20px }

.submitButton {
    padding: 12px;
    margin-left: 10px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
    background-color: antiquewhite;
}

.centerText{
    text-align: center;
    width: 500px}

root{
    display: flex;
    flexWrap: wrap;
    justifyContent: space-around;
    overflow: hidden;

}
gridList {
    width: 500px;
    height: 450px;
}
subheader {
    width: 100%;
}
media{
    height: 0;
    paddingTop: '56.25%';
    marginTop:'30';
}